extends ../layouts/default

block css
	link(rel='stylesheet', href='codebase/dhtmlxscheduler.css', type='text/css', media='screen', title='no title', charset='utf-8')
	style(type='text/css', media='screen').
		html, body{
		margin:0px;
		padding:0px;
		height:100%;
		overflow:hidden;
		}

block js
	script(type='text/javascript', charset='utf-8').
		function init() {
			scheduler.init('scheduler_here',new Date(2017,6,4),"month");
		}

block content
	h3 #{data.users}